.dt-sc-toggle-set 
{
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}
.dt-sc-toggle-frame 
{
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #e8edf2;
}
h5.dt-sc-toggle-accordion, h5.dt-sc-toggle {
clear: both;
font-size: 16px;
margin: 0px 0px 1px;
padding: 0px;
position: relative;
transition: all 300ms linear;
-webkit-transition: all 300ms linear;
-moz-transition: all 300ms linear;
-o-transition: all 300ms linear;
-ms-transition: all 300ms linear;
}
.dt-sc-toggle-frame h5.dt-sc-toggle:before, .dt-sc-toggle-frame h5.dt-sc-toggle-accordion:before {
cursor: pointer;
height: auto;
text-align: inherit;
top: 3px;
border: 0;
font-size: 1.1em;
background: transparent;
}
h5.dt-sc-toggle:before, h5.dt-sc-toggle-accordion:before {
content: "\f055";
font-family: FontAwesome;
font-size: 10px;
font-style: normal;
font-weight: normal;
position: absolute;
left: 4px;
top: 17px;
text-decoration: inherit;
}
h5.dt-sc-toggle:before, h5.dt-sc-toggle-accordion:before {
background: #fff;
border: 1px solid;
height: 50px;
margin: auto;
padding: 14px 0;
text-align: center;
top: 0;
width: 50px;
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
}
.dt-sc-toggle:before, .dt-sc-toggle-accordion:before {
content: "";
border-left: 1px dashed #c3cbd7;
height: 100%;
position: absolute;
left: 28px;
top: 0;
width: 1px;
}